*{
    margin: 0;
    padding: 0;
}
.footerContainer{
display: flex;
flex-direction: column;
width: 100vw;
}
.footer-bar{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 48px;
    background-color: #F1F1F1;
}
.footer-link-not-selected{
    padding: 8px;
    margin-right:24px;
    font-size: 24px;
    font-family: Helvetica, sans-serif;
    cursor: pointer;
    color:#676767;
}
.footer-link-selected{
    padding: 8px;
    margin-right:24px;
    font-size: 24px;
    cursor: pointer;
    font-family: Helvetica, sans-serif;
    color:#676767;
    background-color: #E0E0E0;
}
.empty-element{
    width:100px;
}
.about{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: center;
}
.about-inner-container{
    display: flex;
    flex-direction: column;
    width:60vw;
    overflow: hidden;
    justify-content: center;
}
.about-text{
    color:#838383;
    font-size:20px;
    font-family: Helvetica, sans-serif;
    margin-top: 48px;
    width: 60vw;
}
.avatars{
display: flex;
flex-direction:row;
justify-content: center;
text-align: center;
margin-top: 48px;
margin-left: auto;
margin-right: auto;
width: 60vw;
overflow:visible;
}
.avatar{
    font-family:Helvetica, sans-serif;
    font-size: 16px;
    color: #676767;
    margin-right: 32px;
}
.hidden{
    display: none;
}
.separator{
    height: 48px;
}
.sendMessageButton{
    padding: 8px;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    font-family:  Helvetica, sans-serif;
    background-color: #61A5C2;
    border:0;
    cursor: pointer;
    transition: background-color 0.4s;
}
.sendMessageButton:hover{
    background-color: #62accc;
}
@media only screen and (max-width: 600px){
    .avatars{
        flex-direction: column;
        width: auto;
    }
    .avatar{
        margin: 0;
    }
    .about-text{
        width: 90vw;
    }
    .about-inner-container{
        width: 90vw;
    }
}