.details-main {
  display: grid;
  // grid-auto-flow: dense;
  grid-template-columns: 10% auto auto 10%;
  background: #09253a;
  color: #fff;
  font-family: "Poppins", sans-serif;

  .details-bestseller {
    grid-column: 4/5;
    display: flex;
    background: $green;
    width: 140px;
    height: 32px;
    font-size: 1em;
    font-weight: 500;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
  }
  .details-image {
    grid-column: 2/3;
    grid-row: 2/-1;
    width: 360px;
    height: 180px;
    border: 3.2px solid white;
    border-radius: 10px;
  }
  .details-content-child {
    grid-column: 3/4;
    grid-row: 1/-1;
    .details-name {
      font-weight: 600;
      font-size: 27px;
    }
    .details-category {
      font-weight: normal;
      font-size: 21px;
    }
    .details-address {
      grid-column: 3/4;
      font-weight: 300;
      font-size: 16px;
    }
    .details-direction {
      display: flex;
      align-items: center;
      font-weight: 500;
      font-size: 16px;
      .details-map {
        width: 27px;
        height: 24px;
        img {
          width: 27px;
          height: 24px;
        }
      }
    }
    .details-offers {
      font-weight: 500;
      font-size: 14px;
      color: $red;
    }
    .details-star {
      display: flex;
      &:hover {
        cursor: text;
      }
      .detail-star-rating {
        width: 20px;
        height: 20px;
        clip-path: polygon(
          50% 0%,
          61% 35%,
          98% 35%,
          68% 57%,
          79% 91%,
          50% 70%,
          21% 91%,
          32% 57%,
          2% 35%,
          39% 35%
        );
      }
      .details-rating {
        font-weight: normal;
        font-size: 10px;
        .details-rating-average {
          font-size: 14px;
        }
      }
    }
  }
}
